* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #189ab4;
  --error-color: #ff0000;
  --text-color: #fff;
  --white-color: #fff;
  --black-color: rgb(0, 0, 0);
  --base-color: #d5ffeed2;
}
.App {
  text-align: center;
  height: 100vh;
  width: 35rem;
  padding: 1rem;
  position: relative;
}
-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary-color);
}
